<h1>Timeslots</h1>
<button><%= link_to  "Add Timeslot", new_timeslot_path %></button>
<%= form_tag(timeslots_path, method: 'get') do %>
  <label for="filter_by_time">Filter By Time</label>
  <select name="filter_by_time">
    <option <%= 'selected' if params[:filter_by_time] == '' %> value="">All</option>
    <option <%= 'selected' if params[:filter_by_time] == 'past' %> value="past">Past</option>
    <option <%= 'selected' if params[:filter_by_time] == 'upcoming' %> value="upcoming">Upcoming</option>
  </select>
  <label for="sort">Sort</label>
  <select name="sort">
    <option <%= 'selected' if params[:sort] == '' %> value="">None</option>
    <option <%= 'selected' if params[:sort] == 'most_recent' %> value="most_recent">Most Recent</option>
    <option <%= 'selected' if params[:sort] == 'longest_ago' %> value="longest_ago">Longest Ago</option>
  </select>
  <%= submit_tag 'Filter Results' %>
<% end %>
<% @timeslots.each do |timeslot| %>
  <p>
    <%= link_to timeslot.client_name, client_path(timeslot.client) %> has an timeslot at <%= link_to timeslot.start_time.strftime('%b %e, %l:%M %p'), timeslot_path(timeslot) %> with <%= link_to timeslot.barber_name, barber_path(timeslot.barber) %>
  </p>
<% end %>